<div class="title">
  <span class="margin-left-10">System Configuration Form</span>
  <mat-icon class="pull-left" (click)="onBack()">reply_all</mat-icon>
</div>
<form [formGroup]="formInput">
  <div fxLayout="row wrap">
    <div
      fxFlex="100"
      fxFlex.md="100"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column wrap"
    >
      <div fxLayout="row wrap" fxLayoutGap="5px">
        <div fxFlex="49" fxFlex.lt-md="49" fxFlex.sm="100" fxLayout="column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Key<b>*</b> </mat-label>
            <input matInput placeholder="Key" formControlName="key" >
          </mat-form-field>
          <ng-container *ngIf="isModified(properties.key)">
            <mat-error
              *ngIf="isEmpty(properties.key) || hasWhiteSpace(properties.key)"
            >
              Key is <strong>required</strong>
            </mat-error>
          </ng-container>
        </div>
        <div fxFlex="49" fxFlex.lt-md="49" fxFlex.sm="100" fxLayout="column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Value<b>*</b> </mat-label>
            <input matInput placeholder="Value" formControlName="value">
          </mat-form-field>
          <ng-container *ngIf="isModified(properties.value)">
            <mat-error
              *ngIf="
                isEmpty(properties.value) || hasWhiteSpace(properties.value)
              "
            >
              Value is <strong>required</strong>
            </mat-error>
          </ng-container>
        </div>
        <div fxFlex="49" fxFlex.lt-md="49" fxFlex.sm="100" fxLayout="column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label> Description<b>*</b> </mat-label>
            <input
              matInput
              placeholder="Description"
              formControlName="description"
            />
          </mat-form-field>
          <ng-container *ngIf="isModified(properties.description)">
            <mat-error
              *ngIf="
                isEmpty(properties.description) ||
                hasWhiteSpace(properties.description)
              "
            >
              Description is <strong>required</strong>
            </mat-error>
          </ng-container>
        </div>
        <div fxFlex="49" fxFlex.lt-md="49" fxFlex.sm="100" fxLayout="column">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Status<b>*</b> </mat-label>
            <mat-select matInput placeholder="Status" formControlName="status" >
            <mat-option
            *ngFor="let userStatus of Status"
            [value]="userStatus.value"
          >
            {{ userStatus.text }}
          </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="isModified(properties.status)">
            <mat-error
              *ngIf="
                isEmpty(properties.status) || hasWhiteSpace(properties.status)
              "
            >
              Status is <strong>required</strong>
            </mat-error>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center" >
    <button
    (click)="updatePostData()"
    [disabled]="formInput.invalid"
    *ngIf="isEdit"
    mat-button
    mat-raised-button
    color="primary"
    >
    Update
  </button>
    <button
    (click)="rolePostData()"
    [disabled]="formInput.invalid"
    *ngIf="!isEdit"
      mat-button
      mat-raised-button
      color="primary"
    >
      Save
    </button>
    <button
    (click)="onBack()"
    mat-button
    mat-raised-button
  >
    Cancel
  </button>
  </div>
</form>
