<div class="title">
    <span class="margin-left-10">RM List</span>
    <mat-icon class="pull-left" (click)="onBack()" >reply_all</mat-icon>
    
    <button class="pull-right margin-right-10" mat-button mat-raised-button color="primary" (click)="navigateToUrl('/admin/masterrm/details/0')">
      New RM
    </button>
    <button class="pull-right margin-right-10" mat-button mat-raised-button color="primary" (click)="navigateToUrl('/admin/masterrm/upload/0')">
      Upload RM
    </button>
   
  </div>
  
  <app-data-table [tableData]="dataSource" [tableColumns]="displayColumns" [isFilterable]="isFilterable" [isPageable]="isPageable" [totalRecords]="totalRecords" [paginationSizes]="paginationSizes" [defaultPageSize]="defaultPageSize" (sort)="sortData($event)"
  (filter)="filterData($event)" (page)="pageData($event)" [rowActionIcon]="'info'" (rowAction)="rowAction($event)">
</app-data-table>