<div class="title">Roles Form
<mat-icon class="pull-left" (click)="onBack()">reply_all</mat-icon>
</div>
<form [formGroup]="formInput">
    <!-- content here -->
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column wrap">
            <div fxLayout="row wrap" fxLayoutGap="5px">
                <div fxFlex="49" fxFlex.lt-md="49" fxFlex.sm="100" fxLayout="column">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Name<b>*</b> </mat-label>
                        <input matInput placeholder="Name" formControlName='name' />
                    </mat-form-field>
                    <ng-container *ngIf="isModified(properties.name)">
                        <mat-error *ngIf="
                    isEmpty(properties.name) ||
                    hasWhiteSpace(properties.name)
                  ">
                            Name
                            <Code></Code> is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>

                <div fxFlex="50" fxFlex.md="50" fxFlex.sm="100" fxLayout="column">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Permission<b>*</b> </mat-label>
                        <mat-select placeholder="Permission" formControlName="permissions"
                         (selectionChange)="onPermissionSelection($event.value)" multiple>
                            <mat-option *ngFor="let request of permissionList" [value]="request">{{request.code}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="isModified(properties.permissions)">
                        <mat-error *ngIf="
                    isEmpty(properties.permissions) ||
                    hasWhiteSpace(properties.permissions)
                  ">
                            permissions is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>
            </div>
            <div style="text-align: center">
                <button (click)="rolePostData()" mat-button mat-raised-button color="primary">Submit</button>
                <button (click)="onBack()" mat-button mat-raised-button>Cancel</button>
                <!-- <button class="pull-right margin-right-10" mat-button mat-raised-button color="primary">Save</button> -->
            </div>

        </div>
    </div>
</form>