<div class="title">
    <span class="margin-left-10">Dynamic Data List</span>
    <mat-icon class="pull-left" (click)="onBack()">reply_all</mat-icon>
    <button class="pull-right" mat-button mat-raised-button color="primary" (click)="navigateToUrl('/admin/lov/details/0')">
      New Dynamic
    </button>
  </div>
  
  <app-data-table [tableData]="dataSource" [tableColumns]="displayColumns" [isFilterable]="isFilterable"
    [isPageable]="isPageable" [totalRecords]="totalRecords" [paginationSizes]="paginationSizes"
    [defaultPageSize]="defaultPageSize" (sort)="sortData($event)" (filter)="filterData($event)" (page)="pageData($event)"
    [rowActionIcon]="'info'" (rowAction)="rowAction($event)">
  </app-data-table>